         @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
         * {
             box-sizing: border-box;
         }
         
         body {
             background: #8fdfbe;
             flex-direction: column;
             margin: 0 auto;
             width: 1024px;
             font-family: Montserrat;
         }
         
         figure {
             margin: 0;
         }
         
         ul {
             margin: 0;
             list-style: none;
         }
         
         .summary_container {
             display: flex;
         }
         
         .summary_container_left-side {
             padding: 5% 0% 0% 5%;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             width: 50%;
         }
         
         .summary_container_navigation a {
             text-decoration: none;
             color: #ffffff;
             font-style: normal;
             font-size: 1.6em;
             font-weight: bold;
             background: #8fdfbe;
         }
         
         .navigation-menu {
             padding: 5% 15% 0% 0%;
         }
         
         .navigation-menu a {
             text-decoration: none;
             color: #ffffff;
         }
         
         .navigation-menu_list {
             display: flex;
             justify-content: space-between;
             padding: 0;
             font-size: 0.5em;
             font-weight: bold;
         }
         
         li span {
             color: #ffffff;
             display: inline-block;
             width: 100%;
         }
         
         .navigation-menu_list li a:hover {
             text-decoration: underline;
             color: #ffffff;
             background: #8fdfbe;
         }
         
         .summary_container_greetings {
             display: flex;
             flex-direction: column;
             align-items: flex;
             font-weight: bold;
             font-size: 1.5em;
             font-style: normal;
         }
         
         .summary_container_greetings h3,
         h2 {
             margin: 0;
             color: #ffffff;
             background: #8fdfbe;
         }
         
         .summary_container_greetings h5 {
             margin: 0;
             color: #ffffff;
             background: #8fdfbe;
             font-weight: normal;
             font-size: 0.7em;
         }
         
         .summary_contacts {
             background-color: #E5C497;
             border-radius: 4%;
         }
         
         .summary_contacts_list {
             display: flex;
             flex-direction: column;
             justify-content: space-around;
             min-height: 200px;
         }
         
         .summary_contacts_list li img {
             width: 20px;
             height: 20px;
             margin-right: 2%;
         }
         
         .summary_contacts_list span {
             font-weight: bold;
             font-size: 1.2em;
         }
         
         .summary_contacts_list li a {
             text-decoration: none;
             color: #ffffff;
             font-size: 1em;
         }
         
         .summary_container_image {
             display: flex;
         }
         
         .summary_container_image img {
             border-radius: 4%;
             width: 70%;
         }
         
         .about_me-container {
             display: flex;
             justify-content: center;
             align-items: left;
             flex-direction: column;
             padding: 5% 10%;
             ;
         }
         
         .about_me-container h2 {
             text-align: center;
             font-size: 2.2em;
             color: #ffffff;
         }
         
         .about_me-container_strip {
             height: 1px;
             width: 25%;
             border-color: #ffffff;
         }
         
         .about_me-text {
             display: flex;
             justify-content: center;
             flex-direction: column;
             color: white;
         }
         
         .about_me-text p {
             font-size: 1.2em;
         }
         
         .soft_skills-container {
             padding: 5% 10%;
             display: flex;
             flex-direction: column;
         }
         
         .soft_skills-container h2 {
             text-align: center;
             color: #ffffff;
             font-weight: bold;
             font-size: 2.2em;
         }
         
         .soft_skills-container_strip {
             height: 1px;
             width: 25%;
             border-color: #ffffff;
         }
         
         .soft_skills-container img {
             width: 100px;
             height: 100px;
         }
         
         .soft_skills_list {
             padding: 5% 0% 0% 0%;
             display: flex;
             flex-wrap: wrap;
             justify-content: space-around;
         }
         
         .soft_skills-container ul li {
             margin: 0 2% 2% 0;
             display: flex;
             justify-content: space-around;
             align-items: center;
             flex-direction: column;
             text-align: center;
             min-width: 160px;
             min-height: 14s0px;
             font-weight: bold;
             font-size: 1.1em;
             color: #ffffff;
             border-radius: 10%;
             background-color: #BDFBDA;
         }
         
         .soft_skills-container ul li:hover {
             box-shadow: 5px 10px 15px #4A6255;
         }
         
         .professional_skills_container {
             display: flex;
             flex-direction: column;
             align-items: center;
             padding: 5% 10%;
             background-color: #E5C497;
             border-radius: 4%;
         }
         
         .professional_skills_container h2 {
             text-align: center;
             font-size: 2.2em;
             background: #E5C497;
         }
         
         .skills_container_strip {
             height: 1px;
             width: 10%;
             border-color: white;
         }
         
         .professional_skills_container ul {
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             font-weight: bold;
             font-size: 1.5em;
             color: white;
         }
         
         .professional_skills_container ul li ::before {
             margin: 0% 5%;
             content: "\2022";
             line-height: 5%;
             color: white;
             font-size: 1.7em;
             font-weight: bold;
         }
         
         .projects_container {
             display: flex;
             flex-direction: column;
             padding: 5% 10%;
         }
         
         .projects_container_portfollio {
             text-align: center;
             font-weight: bold;
             font-size: 2.2em;
         }
         
         .projects_container_portfollio_strip {
             height: 1px;
             width: 50%;
             border-color: white;
         }
         
         .projects_container_main_part {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
         }
         
         .projects_container_main_part_text {
             font-weight: normal;
             font-size: 1.1em;
             color: white;
         }
         
         .projects_container_main_part img {
             width: 50%;
             height: auto;
         }
         
         .footer-main {
             display: flex;
             align-items: center;
             justify-content: space-around;
             background-color: #E5C497;
             border-radius: 4%;
             color: white;
         }
         
         .footer_container {
             width: 50%;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         
         .footer-contacts {
             display: flex;
             justify-content: flex-start;
             flex-direction: column;
         }
         
         .footer-contacts h3 {
             margin: 0;
             padding-top: 10%;
         }
         
         .footer-main_list {
             padding: 0;
             display: flex;
             flex-direction: column;
             justify-content: space-around;
             align-items: flex-start;
             font-size: 1.1em;
         }
         
         .footer-main_list li {
             padding-top: 10%;
         }
         
         .footer-main_list p {
             margin: 0;
         }
         
         .footer-main_list img {
             width: 20px;
             height: 20px;
             margin-right: 10%;
         }
         
         .footer-main_list a {
             color: white;
             text-decoration: none;
             font-size: 1em;
         }
         
         .footer-contacts_text {
             font-size: 1.7em;
             font-weight: bold;
         }
         
         .footer-image {
             display: flex;
             justify-content: flex-start;
         }
         
         .footer-image img {
             border-radius: 5%;
             width: 80%;
             height: auto;
         }